h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.item {
    display: flex;
    width: 100%;
}

hr {
    // display: none;
    // width: 90%;
    // color: #E5DDD5;
}

hr::before {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background: #E5DDD5;
    margin: 0 auto;

}