h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.item {
    display: flex;
    width: 100%;
    position: relative;
}

.btn {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    width: 80%;
    border: 1px solid #E5DDD5;
    text-align: center;
    margin: 30px auto;
}

.btn--dark {
    display: block;
    margin: 30px auto;
    width: 75%;
    padding: 1rem;
}