.news {

    // ДЛЯ ДЕКОРАТИВНЫХ ЦЕЛЕЙ
    // position: relative;

    .item {
        padding: 20px;
        box-sizing: border-box;

        &:nth-child(2n)::before {
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            left: 10%;
            width: 80%;
            height: 1px;
            background: #E5DDD5;
            margin: 0 auto;
        }

        .date {
            font-size: 30px;
            font-weight: bold;
            color: #ffffff;
            background: #000;
            line-height: 1.25rem;
            width: 30px;
            padding: 10px 15px;
            height: fit-content;
            
            span {
                font-size: 18px;
            }
        }

        &__text {
            padding: 0 20px;
        }
    }
}

// ЕСЛИ РАСКОМЕНТИРОВАТЬ, ТО ДОБАВЛЯЕТСЯ ГОРИЗОНТАЛЬНОЕ ПРОКРУЧИВАНИЕ

// .news::before {
//     content: '';
//     display: block;
//     position: absolute;
//     top: -40px;
//     left: -20px;

//     height: 80px;
//     width: 70%;
//     background: #fff;
//     transform: rotate(15deg);
//     z-index: -1;
// }

// .news::after {
//     content: '';
//     display: block;
//     position: absolute;
//     top: -40px;
//     right: -20px;

//     height: 80px;
//     width: 70%;
//     background: #fff;
//     transform: rotate(-15deg);
//     z-index: -1;
// }